@font-face {
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	/*display: table;*/
	/*margin: auto;*/
}

body {
	/*-webkit-transform: rotate(-1deg);*/
	/*-webkit-filter: blur(10px);*/
	font-family: 'droid_sansregular';
	/*background: url("../res/img-noise-361x370.png");*/
	background: black;
	color: #00e7ff;
	/*width: 80%;*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	overflow: hidden;
}

a {
	color: #00e7ff;
}

span.bg {
	/*background: url("../res/star_bg.png");*/
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	/*-webkit-filter: blur(5px);*/
}

input{
	background: rgba(0, 80, 87, 0.46);
	color: cyan;
	border: 1px solid rgba(0, 235, 255, 0.3);
	padding: 13px 33px 13px 13px;
}

div.screen {
	/* position: absolute; */
	/* top: 121px; */
	/* bottom: 22px; */
	/* right: 22px; */
	/* left: 150px; */
	overflow: hidden;
	/* outline: solid 1px #00e7ff; */
	float: right;
	height: 80%;
	width: 85%;
	position: relative;
	margin: 14px 13px 0 0;
}

div.screen-glow {
	position: absolute;
	pointer-events: none;
	top: 120px;
	bottom: 20px;
	right: 20px;
	left: 20px;
	/*outline: solid 1px #00e7ff;*/
	box-shadow: inset 0 0 50px #00e7ff;
	z-index: 9997;
}

div.screen-background {
	position: absolute;
	pointer-events: none;
	top: 120px;
	bottom: 20px;
	right: 20px;
	left: 20px;
	/*outline: solid 1px #00e7ff;*/
	background: url("../res/holo.png");
	z-index: 0;
}

div.entry-wrapper {
	position: absolute;
	border: solid 1px #00e7ff;
	opacity: 10%;
	width: 129px;
	height: 20px;
	left: -130px;
	right: 90px;
	overflow: hidden;
	background-color: rgba(0, 231, 255, .2);
	border-radius: 5px;
	overflow: hidden;
}

div.entry-title {
	display: block;
	/*background-color: #1e2f41;*/
	background-color: rgba(0, 231, 255, .2);
	color: white;
	position: relative;
	text-align: center;
	height: 20px;
	/*border-top-right-radius: 5px;*/
	/*border-top-left-radius: 5px;*/
}

div.entry-content {
	position: absolute;
	/*height: auto;*/
	width: auto;
	left: 5px;
	right: 0px;
	padding-right: 12px;
}

div.myscroll {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100000;
}

/*Border divs*/

div.bottom-left-corner {
	position: absolute;
	bottom: 0;
	left: 0;
    width: 0;
    height: 0;
    border-bottom: solid black 10px;
    border-top: solid transparent 10px;
    border-left: solid black 10px;
    border-right: solid transparent 10px;
    z-index: 9999;
}

div.bottom-right-corner {
	position: absolute;
	bottom: 0;
	right: 0;
    width: 0;
    height: 0;
    border-bottom: solid black 10px;
    border-top: solid transparent 10px;
    border-left: solid transparent 10px;
    border-right: solid black 10px;
    z-index: 9999;
}

div.top-left-corner {
	position: absolute;
	top: 100px;
	left: 0;
    width: 0;
    height: 0;
    border-bottom: solid transparent 10px;
    border-top: solid black 10px;
    border-left: solid black 10px;
    border-right: solid transparent 10px;
    z-index: 9999;
}

div.left-side {
	background: url("../res/aluminum.jpg");
	position: absolute;
	left: 0;
	top: 100px;
    width: 0;
    height: 100%;
    border-left: solid transparent 20px;
    z-index: 9998;
}
div.right-side {
	background: url("../res/aluminum.jpg");
	position: absolute;
	right: 0;
    width: 0;
    height: 100%;
    border-right: solid transparent 20px;
    z-index: 9998;
}

div.bottom {
	background: url("../res/aluminum.jpg");
	position: absolute;
	bottom: 0;
	right: 0;
    width: 100%;
    height: 0;
    border-bottom: solid transparent 20px;
    z-index: 9998;
}

div.top-left-bar {
	background: url("../res/aluminum.jpg");
	position: absolute;
	top: 100px;
	left: 20px;
    width: 100%;
    height: 0;
    border-top: solid transparent 20px;
    z-index: 9999;
}

div.top-left-inner-corner {
	position: absolute;
	top: 100px;
	left: 150px;
    width: 0;
    height: 0;
    border-bottom: solid black 10px;
    border-top: solid transparent 10px;
    border-left: solid transparent 10px;
    border-right: solid black 10px;
    z-index: 9999;	
}

div.top-bar {
	background: url("../res/aluminum.jpg");
	position: absolute;
	top: 0;
	/*left: 242px;*/
	left: 0;
    width: 100%;
    height: 0;
    border-top: solid transparent 20px;
    z-index: 9999;	
}

div.top-right-corner {
	position: absolute;
	top: 0;
	right: 0;
    width: 0;
    height: 0;
    border-bottom: solid transparent 10px;
    border-top: solid black 10px;
    border-left: solid transparent 10px;
    border-right: solid black 10px;
    z-index: 9999;	
}

div.top-left-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 0;
	border-top: solid black 100px;
	border-left: solid black 100px;
	/*border-bottom: solid transparent 100px;*/
	border-right: solid transparent 100px;
	z-index: 9999;
}

div.top-fill-block{
	float: left;
	width: 100%;
	height: 100px;
	z-index: 5000;
	background: url("../res/aluminum.jpg");
}

/*slider*/

div.myslider {
	z-index: 10000;
	position: absolute;
	top: 140px;
	bottom: 32px;
	height: auto !important;
	left: 7px;
	width: 4px;
}

a.myslider {
	width: 12px !important;
	/*border: solid 1px rgba(0, 0, 0, 1) !important;*/
	box-shadow: 0px 0px 5px black;
}

/*topbar*/

.mobiglas{
	font-family: 'Play', sans-serif;
	text-shadow: 3px 3px 3px rgba(0, 231, 255, 1);
	color: rgba(0, 173, 255, 0.09);
	margin: 8px 13px;
	float: left;
}

.topbar-wrapper {
	position: absolute;
	z-index: 5000;
	margin: 0;
	background: rgba(255, 255, 255, 0.18);
	width: 519px;
	right: 59px;
	padding: 0 13px;
	border: 1px solid rgba(190, 190, 190, 0.91);
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
}

.topbar-option-wrapper {
	/*
	top: 0px;
	background: rgba(153, 153, 153, 0.82 url("../res/darkaluminumbutton.png"); 
	margin: 0 13px;
	*/
	z-index: 5001;
	position: relative;
	list-style: none;
	display: inline-block;
}

.topbar-option {
	transition: 0.333s;
	text-align: center;
	height: 77px;
	line-height: 50px;
	/* background: rgba(51, 51, 51, 0.46); */
	color: rgba(0, 0, 0, 0.498039);
	font: bold 18px/1 arial, sans-serif;
	padding: 44px;
	/*
	border-radius: 25px;
	background-color: rgba(255, 255, 255, .2);  
	box-shadow: rgba(0, 0, 0, 0.8) 1px 1px 13px; */
}
	.topbar-option:hover{
		color: rgba(0, 255, 255, 0.9); 
		text-shadow: 0 -1px 0 #777;
	}
	.topbar-option-inner{
		-webkit-transform: skew(0deg) !important;
		-moz-transform: skew(0deg) !important;
		-o-transform: skew(0deg) !important;
	}

button.punch {
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #1e2d4d;
  width: 150px;
  -webkit-background-clip: padding-box; }
  button.punch:hover {
    -webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
  button.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 13px; }

button.minimal {
  background: rgba(99, 99, 99, 0.2);
  border: 1px solid #3B3D46;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  /* color: #333; 
  text-shadow: 0 1px 0 #fff; 
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px; 
  text-align: center;
  width: 150px; */ }
  button.minimal:hover {
	border: 1px solid rgb(0, 184, 255);
	 background: #05353A url("../res/holo.png");
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    cursor: pointer; }
  button.minimal:active {
	background: rgba(99, 99, 99, 0.88);
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
  	border: 0;}

div.account-entry-wrapper {
	position: absolute;
	top: -25px;
	left: 500px;
}

div.login-container {
	position: absolute;
	top: 10px;
	left: 10px;
}

table.markdown {
	width: 100%;
	table-layout: fixed;
}

td.markdown {
	width: 50%;
	vertical-align: top;
}

textarea.markdown {
	width: 100%;
	max-width: 100%;
}

span.markdown {
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 50%;*/
	width: 100%;
}

.entry-wrapper#create-entry {
	top: 0px;
	visibility: hidden;
}

div.page-title {
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 100%;
	top: 40%;
	font-size: 36px;
	opacity: 0;
}

div.browse-logs-entry-wrapper {
	position: absolute;
	position: absolute;
	top: -25px;
	left: 200px;
}

div.browse-logs-option {
	position: relative;
	background: url("../res/logicon.png") no-repeat;
	height: 200px;
	width: 300px;
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
}

div.browse-logs-option-pagename {
	position: absolute;
	padding: 10px;
	top: 25px;
	text-align: center;
	font-size: 20px;
}

div.browse-logs-option-username {
	position: absolute;
	bottom: 7px;
	right: 10px;
	font-size: 12px;
}

span.error {
	color: red;
}

a.edit {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	right: 5px;
}

img {
	border-radius: 5px;
	border: solid 1px rgba(0, 231, 255, .2);
}