<html>

<head>
	<link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../scripts/scripts.js"></script>
	<script type="text/javascript" src="../scripts/markdown.min.js"></script>
	<script type="text/javascript" src="../scripts/jquery.animate-shadow-min.js"></script>
	<script type="text/javascript" src="../scripts/markdown.min.js"></script>
	<script type="text/javascript" src="../scripts/jquery.cookie.js"></script>
	<!--<script type="text/javascript" src="../scripts/jquery.mousewheel.min.js"></script>   -->
</head>


<body>

<!-- border decoration -->
<div class="border-decoration">
	<div class="bottom-left-corner"></div>
	<div class="bottom-right-corner"></div>
	<div class="left-side"></div>
	<div class="right-side"></div>
	<div class="bottom"></div>
	<div class="top-left-corner"></div>
	<div class="top-left-bar"></div>
	<div class="top-diagonal-bar"></div>
	<div class="top-bar"></div>
	<div class="top-right-corner"></div>
	<div class="cover"></div>
	<div class="top-left-block"></div>
	<div class="top-left-wedge"></div>
	<div class="top-fill-block"></div>
</div>

<!-- values for js -->
<span id="jsarg-entries-length" value="{{entries_length}}" type="hidden"></span>
<span id="jsarg-username" value="{{user.username}}" type="hidden"></span>

<!-- slider -->
<div id="slider-vertical" style="height:200px;" class="myslider ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
	<div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="height: 50%;"></div>
	<a class="myslider ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 50%;"></a>
</div>

<!-- screen decoration -->
<div class="screen-glow"></div>
<div class="screen-background"></div>

<!-- topbar -->
<h1 class="mobiglas">MobiGlas</h1>
<ul class="topbar-wrapper">
	<li id="mylog" class="topbar-option-wrapper">
		<button class="topbar-option minimal" id="my-log">
			<span class="topbar-option-inner">My Log</span>
		</button>
	</li>
	<a class="internal" href="#browse-logs">
		<li class="topbar-option-wrapper">
			<button class="topbar-option minimal" id="browse-logs">
				<span class="topbar-option-inner">Browse Logs</span>
			</button>
		</li>
	</a>
	<a class="internal" href="#login">
		<li class="topbar-option-wrapper">
			<button class="topbar-option minimal" id="login">
				<span class="topbar-option-inner">Login</span>
			</button>
		</li>
	</a>
</ul>


<!-- screen -->
<div class="screen">
<!-- login window (hidden by default) -->
	<div class="entry entry-wrapper account-entry-wrapper" id="login">
		<div class="login-container" id="login">
			<form method="POST">
				Username<br>
				<input name="form-type" type="hidden" value="login">
				<input class="input login" type="text" name="username" required="required" autofocus><br>
				<br>
				Password<br>
				<input class="input login" type="password" name="password" required="required"><br>
				<br>
				<input type="submit">{% if login_error %}<span class="error"> Username or password is invalid.</span>{% endif %}<br>
				<br>
				Don't have a log? <a class="internal" href="#register">Make one</a>.
			</form>
		</div>
	</div>
	<!-- register entry -->
	<div class="entry entry-wrapper account-entry-wrapper" id="register">
		<div class="login-container" id="register">
			<form method="POST">
				<input name="form-type" type="hidden"value="register">
				Username*<br>
				<input class="input register" type="text" name="username" required="required"><span class="error">{% if username_is_invalid %} Username is invalid. {% endif %}{% if username_is_taken %} Username already taken. {% endif %}</span>
				<div class="username-error"></div>
				<br>
				Password*<br>
				<input class="input register" type="password" name="password" required="required"><span class="error">{% if passwords_dont_match %} Passwords don't match. {% endif %}</span><br>
				<br>
				Repeat password*<br>
				<input class="input register" type="password" name="password-repeat" required="required"><br>
				<br>
				Name of Log*<br>
				<input class="input register" type="text" name="page-name" required="required"><br>
				<br>
				Email (For password recovery only)<br>
				<input class="input register" type="text" name="email"><br>
				<br>
				<input type="submit"><br>
			</form>
		</div>
	</div>
	<!-- account created successfully entry -->
	<div class="entry entry-wrapper account-entry-wrapper" id="accountcreated">
		<div class="login-container" id="accountcreated">
			Account created successfully.
		</div>
	</div>
	<!-- Browse Logs -->
	<div class="entry entry-wrapper browse-logs-entry-wrapper" id="browse-logs">
		<div class="browse-logs-container" id="browse-logs">

		</div>
	</div>

	<!-- Page title -->
	<div class="page-title"></div>

	<!-- Create entry -->
	<div class="sidebar">
		<!-- scrollwheel capture element -->
		<!-- <div class="scrollwheel"></div> -->
		<div class="entry entry-wrapper" id="create-entry">
			<div id="create-entry" name="createentry" class="entry entry-title">
				Create Entry
			</div>
			<div class="entry entry-content">
				<table class="markdown">
					<tr>
						<td class="markdown">
							<form method="POST">
								<input name="form-type" type="hidden" value="entry"><br>
								This editor uses <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a>.  Click for details about formatting with Markdown.
								<textarea class="markdown" id="markdown" name="markdown" rows="10" required="required"></textarea>
								<input type="submit"/>
							</form>
						</td>
						<td class="markdown">
							<span class="markdown" id="markdown-converted"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Log entries -->
		<div class="log-entries">
		</div>
	</div>
</div>



</body>
</html>